
* {
    font-family: 'Source Sans Pro', sans-serif;
    padding: 0px !important;
    margin: 0px !important;
}

body {
    overflow-x: hidden;
    background-color: #22131f;
}

:root{
    --player-height: 115px;
}

.on-player {
    height: calc(100vh - var(--player-height));
    overflow-y: auto;
}

::-webkit-scrollbar{
    display:none;
}

/* Text Shadows */

.text-shadow-lightgreen {
    text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px #0fa,
    0 0 82px #0fa,
    0 0 92px #0fa,
    0 0 102px #0fa,
    0 0 151px #0fa;
}

.text-shadow-violet {
    text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px #ab2ec7,
    0 0 82px #ab2ec7,
    0 0 92px #ab2ec7,
    0 0 102px #ab2ec7,
    0 0 151px #ab2ec7;
}

.text-shadow-violetdark {
    text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px #89239f,
    0 0 82px #89239f,
    0 0 92px #89239f,
    0 0 102px #89239f,
    0 0 151px #89239f;
}

.text-shadow-lawngreen {
    text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px lawngreen,
    0 0 82px lawngreen,
    0 0 92px lawngreen,
    0 0 102px lawngreen,
    0 0 151px lawngreen;
}

.text-shadow-lightblue {
    text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px rgb(39, 211, 202),
    0 0 82px rgb(39, 211, 202),
    0 0 92px rgb(39, 211, 202),
    0 0 102px rgb(39, 211, 202),
    0 0 151px rgb(39, 211, 202);
}

/* Neon Animation */

.flicker {
    animation: flicker 1.5s infinite alternate;
    animation-iteration-count: 3;
}

@keyframes flicker {

    0%, 18%, 22%, 25%, 53%, 57%, 100% {

        text-shadow:
        0 0 4px #fff,
        0 0 11px #fff,
        0 0 19px #fff,
        0 0 40px #0fa,
        0 0 80px #0fa,
        0 0 90px #0fa,
        0 0 100px #0fa,
        0 0 150px #0fa;

    }

    20%, 24%, 55% {
        text-shadow: none;
    }
  }

.pulsate-violet {
    animation: pulsateViolet 2.5s infinite alternate;
    animation-iteration-count: 0.5;
}

@keyframes pulsateViolet {

    100% {

        text-shadow:
        0 0 4px #fff,
        0 0 11px #fff,
        0 0 19px #fff,
        0 0 40px #af2ccc,
        0 0 80px #af2ccc,
        0 0 90px #af2ccc,
        0 0 100px #af2ccc,
        0 0 150px #af2ccc;

    }

    0% {

      text-shadow:
      0 0 2px #fff,
      0 0 4px #fff,
      0 0 6px #fff,
      0 0 10px #af2ccc,
      0 0 45px #af2ccc,
      0 0 55px #af2ccc,
      0 0 70px #af2ccc,
      0 0 80px #af2ccc;

  }
}

.pulsate-green {
    animation: pulsateGreen 2.5s infinite alternate;
    animation-iteration-count: 0.5;
}

@keyframes pulsateGreen {

    100% {

        text-shadow:
        0 0 4px #fff,
        0 0 11px #fff,
        0 0 19px #fff,
        0 0 40px lawngreen,
        0 0 80px lawngreen,
        0 0 90px lawngreen,
        0 0 100px lawngreen,
        0 0 150px lawngreen;

    }

    0% {

      text-shadow:
      0 0 2px #fff,
      0 0 4px #fff,
      0 0 6px #fff,
      0 0 10px lawngreen,
      0 0 45px lawngreen,
      0 0 55px lawngreen,
      0 0 70px lawngreen,
      0 0 80px lawngreen;

  }
}

.pulsate-lightblue {
    animation: pulsateLightblue 2.5s infinite alternate;
    animation-iteration-count: 0.5;
}

@keyframes pulsateLightblue {

    100% {

        text-shadow:
        0 0 4px #fff,
        0 0 11px #fff,
        0 0 19px #fff,
        0 0 40px rgb(39, 211, 202),
        0 0 80px rgb(39, 211, 202),
        0 0 90px rgb(39, 211, 202),
        0 0 100px rgb(39, 211, 202),
        0 0 150px rgb(39, 211, 202);

    }

    0% {

      text-shadow:
      0 0 2px #fff,
      0 0 4px #fff,
      0 0 6px #fff,
      0 0 10px rgb(39, 211, 202),
      0 0 45px rgb(39, 211, 202),
      0 0 55px rgb(39, 211, 202),
      0 0 70px rgb(39, 211, 202),
      0 0 80px rgb(39, 211, 202);

  }
}

/* Page 404 */

.neonText {
  color: #fff;
  font-size: 4.2rem;
}

h2 {
 font-size: 1.8rem;
}

h1, h2 {
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
}

/* Bg */

#background {
    width: 100%;
    height: 75vh;
    background-image: url(./immagine.jpeg);
    background-position-y: 25%;
    background-size: cover;
}

/* NavBar */

.navbar-custom{
    width: 100%;
    background-color: #22131f;
    /* position: fixed; */
}

.navbar-custom.active{
    background-color: #22131f;
    height: 100px;
}

@media screen and (max-width: 600px) {
    .navbar-custom.active{
        height: 125px;
    }
}

.nav-link {
    display: inline !important;
}

/* Brand custom */

.brand-custom {
    font-family: 'Tourney', cursive;
    color: #fff !important;
    font-size: 30px;
    border-radius: 15px;
}

.brand-custom:hover {
    animation: flicker 1.5s infinite alternate;
    animation-iteration-count: 3;
}

.text-custom {
  font-family: 'Tourney', cursive;
  font-size: 20px;
}

.text-custom:hover {
    animation: flicker 1.5s infinite alternate;
    animation-iteration-count: 3;
}

/* Bottone Premium */

.premium{
    font-family: 'Tourney', cursive;
    color: #fff !important;
    border-radius: 15px;
    font-weight: bold;
    letter-spacing: 2px;
    word-spacing: 2px;
    font-size: 20px;
}

.premium:hover {
    animation: flicker 1.5s infinite alternate;
    animation-iteration-count: 3;
}

.neon-notanimated {
    color: #fff !important;
      border-radius: 15px;
}

/* Stile Icone Header */
.bg-custom {
    background-color: #22131f;
}

.tc-player {
    color :#af2ccc;
    font-size: 35px;
    cursor: pointer;
}

.tc-open-playlist {
    color: lawngreen;
    font-size: 25px;
    cursor: pointer;
    transition: 0.4s;
}

.rotate{
    transform: rotate(180deg);
}

.tc-like {
    color:rgb(39, 211, 202);
    font-size: 25px;
    cursor: pointer;
}

.tc-prev-next {
    color:#7f3b8f;
    font-size: 25px;
    cursor: pointer;
}

/* Bg Lista tracce */

.bg-songlist {
    background: linear-gradient(-45deg, #22131f, #3d2468, #22131f);
}

.selected:hover{
    background-color: #79797941;
}

.border-main.active {
    /* border: solid 2px var(--middle); */
    border-radius: 20px;
    box-shadow: 5px 5px 15px 
    rgba(0, 0, 0, 0.2);
    overflow: hidden;
    background-color: rgba(95, 95, 95, 0.2);
}

/* Stile Cover lista tracce */

.thumbnail {
  width: 50px;
  height: 50px;
  border-radius: 10px;
}

.pointer {
    cursor: pointer;
}

#sidebar {
    transition: all 1s;
}

#sidebar.close {
    position: absolute;
    z-index: -1;
    top: calc(-100vh - 175px);
}

/* .bg-songlist.active {
    background: linear-gradient(-45deg, #3d2468, #5871e0, #3d2468);
    animation: gradient 15s ease infinite;
    background-position: center;
    background-size: 400% , 400%;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
} */

/* Stile Player */

.bg-player {
    height: var(--player-height);
    background-color: rgb(34, 34, 34);
    /* position: fixed;
    bottom: 0px; */
}

@media screen and (max-width: 600px) {
    .text-custom {
        font-size: 15px;
    }

    .tc-player {
        font-size: 30px;
    }

    .bg-player{
        height: 175px;
    }

    .on-player {
        height: calc(100vh - 175px);
        overflow-y: auto;
        padding-bottom: calc(100vh - 175px);
    }

}

input[type="range"] {
	-webkit-appearance: none;
	width: 60%;
	outline: none;
	height: 3px;
	margin: 0 15px;
    cursor: pointer;
}
input[type="range"]::-webkit-slider-thumb{
	-webkit-appearance: none;
	height: 20px;
	width: 20px;
	background: linear-gradient(-45deg, #22131f, #3d2468, #22131f);
    border: 2px solid white;
	border-radius: 50%;
	cursor: pointer;
}
.right input[type=range]{
	width: 40%;
}


